body{
    background-color:#eeeeee;
}

hr{
    border-style: none;
    width:10%;
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;
}

h1{
    color:#66bfbf;
}

h3{
    color:#66bfbf;
}